<footer class="has-background-light section">
<div class="container is-fluid">
  <div class="columns">
    <div class="column is-4 image">
      <img src="/img/footer_logo.png" alt="">
    </div>
    <div class="column is-8">
      <div class="columns is-multiline">
        <div class="column is-6 contact-footer">
          <h3>CONTACT US</h3>
          <span><a href="https://www.instagram.com/pacificprintingketchikan/" target="_blank"><img src="/img/footer_ig.png" alt=""></a></span><span class="fb"> <a href="https://www.facebook.com/pacificprinting17/" target="_blank"><img src="/img/footer_fb.png" alt=""></a></span>
          <h6>907-617-7088</h6>
          <h6><a href="mailto: info@pacificprintingak.com">info@pacificprintingak.com</a></h6>
          <h6>Monday - Friday, 8am - 5pm</h6>
        </div>
        <div class="column is-6 info-footer">
          <h3>IMPORTANT INFO</h3>
          <h6> <a href="/contact">Place an Inquiry</a></h6>
          <h6><a href="/documents/pacific_printing_wholesale.pdf">Wholesale Catalog</a></h6>
          <h6><a href="#">Cancellation Policy</a></h6>
          <h6><a href="#">Pantone Color Station</a></h6>
        </div>
        <div class="column is-12">
          <p>Copyright © 2019 Pacific Printing. All Rights Reserved. Designed & Developed by <a href="http://www.northcreativedesign.com" target="_blank">North Creative <span>TM</span> Design Co., LLC</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>
