<div class="phone-nav">
  <div class="container">
    <div class="columns is-fluid">
        <div class="column is-6 is-offset-4">
          <img src="img/phone_number.png" alt="">
        </div>
    </div>
  </div>
</div>
<nav class="navbar" role="navigation" aria-label="navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a href="/" class="logo"><img src="/img/nav_logo.png" alt=""></a>
    </div>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a href="/services" class="navbar-item">Services</a>
      <a href="/print-requirements" class="navbar-item">Print Requirments</a>
      <a href="/shop" class="navbar-item">Shop</a>
      <a href="/contact" class="navbar-item">Contact</a>
      <a href="/cart" class="navbar-item">Cart <span><img src="/img/cart_icon.png" alt=""></span></a>
    </div>
  </div>
</nav>
