.phone-nav {
  width: 120.438rem;
  height: 3.313rem;
  background-color: #004d86;
}


.navbar {
  background-color: transparent !important;

  img {
    max-height: 8rem;
    padding: 25px;
  }

  a {
    font-family: $thirdfont;
    color: white;
    font-size: 1.938rem;
    font-weight: 500;
    letter-spacing: 0.097rem;
    padding-left: 70px;
    &:hover {
      background-color: transparent;
      color: white;
      text-decoration: underline;
    }
  }

  span {
    margin-right: 50px;
    padding-top: 15px;
  }

  .logo {
    padding-left: 25px;
  }



}
