.phone-nav {
  width: 100%;
  height: 3.313rem;
  background-color: #004d86;
  img {
    display: block;
    margin: 0 auto;
  }
  @include tablet-only {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.shop-nav {
  width: 100%;
  height: 3.313rem;
  background-color: #516700;
  img {
    display: block;
    margin: 0 auto;
  }
  @include mobile {
    display: none;
  }
  @include tablet-only {
    display: none;
  }
}

.burger {
  color: white;
}


.navbar {
  background-color: transparent !important;

  img {
    max-height: 8rem;
    padding: 25px;
  }

  a {
    font-family: $thirdfont;
    color: white;
    font-size: 1.938rem;
    font-weight: 500;
    letter-spacing: 0.097rem;
    padding-left: 70px;
    &:hover {
      background-color: transparent;
      color: white;
      text-decoration: underline;
    }

    @include desktop-only {
      padding-left: 25px;
      font-size: 1.8rem;
    }

  }

  .cart-img {
    padding-right: 25px;
    position: relative;
    right: 25px;
    top: 25px;
  }

  .snipcart-total-items {
    position: relative;
    right: -80px;
    top: -80px;
  }

  .logo {
    padding-left: 25px;
  }

  .mobile-logo {
    @include desktop {
      display: none;
    }
  }

  .logo-div {
    @include tablet-only {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }

  .navbar-menu {
    @include tablet-only {
      background-color: $bluecolor;
    }
    @include mobile {
      background-color: $bluecolor;
    }
  }

  .navbar-end {
    @include desktop-only {
      margin-left: 23%;
    }
  }
}
