<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div class="wrapper">
      {{> navigation}}
      {{{ body }}}
      {{> footer}}
    </div>
  </body>
<script type="text/javascript" src="/vendor/bulma-accordion/dist/js/bulma-accordion.min.js"></script>
<script>
  var accordions = bulmaAccordion.attach();
</script>
</html>
