<div class="hero is-fullheight contact-hero">

</div>



<!-- CONTACT FORM SECTION -->

<section class="section contact-form">
  <div class="container is-fluid">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h3>LET’S CONNECT</h3>
        <h4>We’re more than just ink & thread.</h4>
      </div>
    </div>
  </div>
      <form id="contactform" action="/contact" method="post" enctype="multipart/form-data">
        <div class="container is-fluid">
          <div class="columns is-multiline">
            <div class="column is-4">
              <h5>NAME</h5>
              <input type="text" name="name" value="" placeholder="Required" id="name">
            </div>
            <div class="column is-4">
              <h5>EMAIL</h5>
              <input type="email" name="email" value="" placeholder="Required" id="email">
            </div>
            <div class="column is-4">
              <h5>PHONE</h5>
              <input type="text" name="phone" value="" placeholder="Required" id="phone">
            </div>
            <div class="column is-4">
              <h5>BUSINESS NAME</h5>
              <input type="text" name="bussinessName" value="" placeholder="Required" id="businessName">
            </div>
            <div class="column is-4">
              <h5>QUANTITY</h5>
              <select class="" name="qty">
                <option value="12-25">12-25</option>
                <option value="25-50">25-50</option>
                <option value="50-100">50-100</option>
              </select>
            </div>
            <div class="column is-4">
              <h5>INQUIRY TYPE</h5>
              <select class="" name="type">
                <option value="General Inquiry">General Inquiry</option>
                <option value="Custom Order">Custom Order</option>
                <option value="Artist Shop">Artist Shop</option>
                <option value="Wholesale">Wholesale</option>
              </select>
            </div>
            <div class="column is-4">
              <h5>TYPE OF SERVICE</h5>
              <select class="" name="service">
                <option value="Make A Suggestion">Make A Suggestion</option>
                <option value="Embroidery">Embroidery</option>
                <option value="Screen Printing">Screen Printing</option>
                <option value="Heat Transfer Vinyl">Heat Transfer Vinyl</option>
              </select>
            </div>
            <div class="column is-4">
              <h5>ARTWORK READY?</h5>
              <select class="" name="ready">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="I need some help">I need some help</option>
              </select>
            </div>
            <div class="column is-4">
              <h5>UPLOAD ARTWORK</h5>
              <input type="file" name='file' class="artwork">
            </div>
            <div class="column is-12 enter-message">
              <h5>ADDITIONAL QUESTIONS / COMMENTS</h5>
              <textarea class="textarea" placeholder="Enter Your Message" name="msg"></textarea>
            </div>
            <div class="g-recaptcha" data-sitekey="6LdJUJ0UAAAAAJ1QHFiJsNqVx9q3bF0k0VS212p3"></div>
            <div class="column is-1 is-offset-9">
              <button class="button is-success">Submit</button>
            </div>

          </div>
        </div>
      </form>
</section>
<section class="section has-background-link mailer-section">
 <div class="container is-fluid">
   <div class="columns is-multiline">
     <div class="column is-12 has-text-centered has-text-white">
       <h3>SIGN UP & GAIN ACCESS TO THE LATEST ARTWORK RELEASES</h3>
       <h4>Subscribe to stay current on our quarterly promotions and local art releases.</h4>
     </div>
     <div class="column is-4 is-offset-3 mailer-section__input">
       <input type="text" class="input" name="mailer" placeholer="Enter your email address.">
     </div>
     <div class="column is-4">
       <button class="button is-success">Submit</button>
     </div>
   </div>
 </div>
</section>
 <script src="https://www.google.com/recaptcha/api.js" async defer></script>
