<div class="hero print-hero is-fullheight">
  <div class="container">
    <div class="columns">
      <div class="column is-12 has-text-white has-text-centered hero-text">
        <h1>GREAT ARTWORK = A REALLY GREAT SHIRT</h1>
        <h2>Follow these Print Requirements for the best results.</h2>
      </div>
    </div>
  </div>
</div>


<!-- PRINT REQUIREMENTS SECTION -->

<section class="section print-requirements">
  <div class="container is-fluid accordions">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h3>PRINT REQUIREMENTS</h3>
        <h4>Get to know what makes a really great shirt.</h4>
      </div>
      <!-- ARTWORK REQUIREMENTS ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>What are the artwork requirements?</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content print-requirements__text-styling">
            <p>Artwork is a very important part of getting your shirt done just the way you want it.  Great artwork = a really great shirt.</p>
            <p>There are many types of files we can work with, but the files that will provide the best quality for printing are vector files.</p>
            <p>Vector Files: Adobe Illustrator (.ai, .eps), Adobe Acrobat (.pdf) Also acceptable are high-resolution bitmap images. With these types of files, we recommend at least 300dpi.</p>
            <p>Bitmap Files: Adobe Photoshop (.psd), JPEG Images (.jpeg), TIFF Images (.tif)</p>
          </div>
        </div>
      </div>
      <!-- ORDER MINIMUMS ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>What are your order minimums?</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>When ordering screen printed apparel, it’s important to keep in mind that the cost of printing goes down as the quantity of shirts goes up. That means that big orders are a lot more cost effective for you. Our minimum order for screen printed apparel is 12 pieces (of each design).</p>
          </div>
        </div>
      </div>
      <!-- SETUP FEES ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>How much are your setup fees?</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>All set up fees are included in your pricing. There are no fees in addition to the quote.</p>
          </div>
        </div>
      </div>
      <!-- TURNAROUND ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>What is your turnaround time?</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>Our turnaround time for screen printed orders is 2-4 weeks + shipping time. This is an estimate, and starts when the order is finalized – all designs must be approved and apparel and sizing chosen. If you have a specific deadline, please advise us as soon as possible. If it is needed with a short turnaround time, rush order fees may apply.</p>
          </div>
        </div>
      </div>
      <!-- SHIRT STYLES ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Can I mix and match shirt styles?</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>Absolutely! As long as you are printing the same design on all of the apparel, you can mix and match the style of shirt. For example, if you are printing a 1 color design on 24 pieces of apparel you can print on 8 t-shirts, 8 tanks and 8 hoodies.</p>
          </div>
        </div>
      </div>
      <!-- PRICE DOWN ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>How do I keep my price down?</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content print-requirements__text-styling">
            <p>> Prices per shirt go down as quantities go up, so increase your order to save money.</p>
            <p>> The apparel you choose to print your image on will have an effect on your overall price. Apparel available ranges from economical to premium, so be sure to choose something within your budget.</p>
            <p>> Try to keep the number of print locations low. Instead of printing something on the front AND back of the shirt, just choose one location.</p>
            <p>> The number of color’s being printed on your shirt greatly affects the price. If you’re printing a 6-color image, but can get the same results with just 3 or 4, that will help decrease your final price.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="/vendor/bulma-accordion/dist/js/bulma-accordion.min.js"></script>
<script>
  var accordions = bulmaAccordion.attach();
</script>
