<div class="hero services-hero is-fullheight">
  <div class="container">
    <div class="columns">
      <div class="column is-12 has-text-white has-text-centered">
        <h1>SERVICES THAT MAKE AN IMPACT</h1>
        <h2>Get noticed in your own custom apparel.</h2>
      </div>
    </div>
  </div>
</div>


<!-- EMBROIDERY SECTION -->

<section class="section services-embroidery">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-6">
        <img src="/img/services_embroidery.jpg" alt="">
      </div>
      <div class="column is-6">
        <h3>EMBROIDERY</h3>
        <h4>A Long Lasting Professional Look.</h4>
        <p>Our in-house embroidery services offer a high-class look to brand your apparel and team gear. It’s clean, crisp, and makes your logo stand out, making it a great option for professional organizations. Embroidery is also long-lasting. It will not fade or snag after continuous washing, and instead will become a permanent part of your apparel. Embroidery is more expensive then ink method processes but offers a different look that may be exactly what you’re looking for.</p>
        <button class="button outline btn-outline">LET’S GET STARTED</button>
      </div>
    </div>
  </div>
</section>

<!-- SCREEN PRINTING SECTION -->

<section class="section services-screenprinting">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-6">
        <h3>SCREEN PRINTING</h3>
        <h4>There are a variety of methods used to ensure your art is printed the way you want it.</h4>
        <p>Spot Color is the most common screen printing method. This uses a full-tone of
        color to create an image. Each color in the image is printed separately on it’s own screen, affecting the cost, but up to 6 spot colors on one location can be printed. This results in prints that are vibrant, on any color garment, and is standard method for printing logos, graphics and text.</p>

        <p>Halftone Printing is printing technique that allows for lesser amounts of ink in a certain color to be used on screen printed shirts, allowing it to mix with the garment color or other screen print colors to create the illusion of more colors than are actually being printed. This results in a more muted print, with lighter tones of color. You can still print on any color of garnet but is recommended for dark prints on light color garments. This is commonly the method used for gradients or background images.</p>

        <p>Grayscale Printing is an inexpensive way to make a photography or other multi color image into apparel. A grayscale of the image is created using full and half tones of black. This results in a combination of vibrant and muted color, and quality is highly dependent upon the size and resolution of the photo.</p>

        <p>4 Color CMYK Printing is used when printing a full color image or photograph that involves many colors and many gradients or shades of colors. This process uses basic Cyan, Magenta, Yellow and Black to create the image.</p>
        <button class="button outline btn-outline">LET’S GET STARTED</button>
      </div>
      <div class="column is-6">
        <img src="/img/screen_printing_1.jpg" alt="">
        <img src="/img/screen_printing_2.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<!-- HEAT TRANSFER SECTION -->

<section class="section heattransfer-section">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-6">
        <img src="/img/heat_transfer.jpg" alt="">
      </div>
      <div class="column is-6">
        <h3>HEAT TRANSFER VINYL</h3>
        <h4>Placeholder text goes right here.</h4>
        <p>More placeholder text goes here describing heat transfer vinyl and why its great. This is placeholder text to describe briefly the process behind heat transfer vinyl. We can sum this up during our next meeting. This is placeholder text.</p>
        <p>The result is affordable custom apparel. This is a great option for small runs or complex artwork.</p>
        <button class="button outline btn-outline">LET’S GET STARTED</button>
      </div>
    </div>
  </div>
</section>


<section class="section promotional-section">
  <div class="container is-fluid">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h3>PROMOTIONAL ITEMS</h3>
        <h4>Specializing in creating the best products for your brand.</h4>
        <p>From corporate events to fundraisers or grand openings, conferences to sports tournaments, employee recognition to educational functions, we’ve got you covered!</p>
      </div>
      <div class="column is-12">
        <h3>WHOLESALE CAPABILITIES</h3>
        <h4>Placeholder text goes right here.</h4>
        <p>More placeholder text goes here describing heat transfer vinyl and why its great. This is placeholder text to describe briefly the process behind heat transfer vinyl. We can sum this up during our next meeting. This is placeholder text.</p>
      </div>
    </div>
  </div>
</section>


<section class="section has-background-light serviceterms-section accordions">
  <div class="container is-fluid">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h3>SPECS & SERVICE TERMS</h3>
        <h4>Explore our standard size chart, terms and other specs to make your project smooth sailing.</h4>
      </div>
      <!-- SIZE CHART ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Sizechart</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </div>
      </div>
      <!-- TURNAROUND ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Turnaround</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </div>
      </div>
      <!-- MINIMUMS ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Minimums</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </div>
      </div>
      <!-- ARTWORK ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Artwork</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </div>
      </div>
      <!-- ART APPROVAL & ORDER PROOFING ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Art Approval & Order Proofing</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </div>
      </div>
      <!-- OUT OF STOCK ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Out of Stock Items</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </div>
      </div>
      <!-- COLLAR & SEAM PRINTING ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Collar & Seam Printing</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </div>
      </div>
      <!-- HOODIE PRINTING ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Hoodie Printing</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </div>
      </div>
      <!-- SPECIFIC MEASUREMENTS WHEN PRINTING ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Specific Measurements When Printing</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </div>
      </div>
      <!-- PAYMENT ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Payment</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </div>
      </div>
      <!-- CHANGES TO ORDER AFTER PAYMENT ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Changes to Your Order After Payment</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </div>
      </div>
      <!-- CANCELLATIONS & RESTOCKING FEES ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Cancellations & Restocking Fees</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </div>
      </div>
      <!-- MUST HAVE DATES ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Must Have Dates</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </div>
      </div>
      <!-- SHIPPING ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Shipping</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </div>
      </div>
      <!-- UNDER RUNS & SPOILAGE ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Under Runs & Spoilage</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </div>
      </div>
      <!-- GARMENT DISCLAIMER ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Garment Disclaimer</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </div>
      </div>
      <!-- SATISFACTION CLAUSE ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Satisfaction Clause</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </div>
      </div>
      <!-- QUALITY ASSURANCE ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Quality Assurance</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </div>
      </div>
      <!-- CLAIMS & REPRINTS ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Claims & Reprints</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
