<div class="hero services-hero is-fullheight">
  <div class="container">
    <div class="columns">
      <div class="column is-12 has-text-white has-text-centered hero-text">
        <h1>SERVICES THAT MAKE AN IMPACT</h1>
        <h2>Get noticed in your own custom apparel.</h2>
      </div>
    </div>
  </div>
</div>


<!-- EMBROIDERY SECTION -->

<section class="section services-embroidery">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-6">
        <img src="/img/services_embroidery.jpg" alt="">
      </div>
      <div class="column is-6">
        <h3>EMBROIDERY</h3>
        <h4>A Long Lasting Professional Look.</h4>
        <p>Our in-house embroidery services offer a high-class look to brand your apparel and team gear. It’s clean, crisp, and makes your logo stand out, making it a great option for professional organizations. Embroidery is also long-lasting. It will not fade or snag after continuous washing, and instead will become a permanent part of your apparel. Embroidery is more expensive then ink method processes but offers a different look that may be exactly what you’re looking for.</p>
        <button class="button outline btn-outline">LET’S GET STARTED</button>
      </div>
    </div>
  </div>
</section>

<!-- SCREEN PRINTING SECTION -->

<section class="section services-screenprinting">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-6">
        <h3>SCREEN PRINTING</h3>
        <h4>There are a variety of methods used to ensure your art is printed the way you want it.</h4>
        <p class="first-paragraph">Spot Color is the most common screen printing method. This uses a full-tone of
        color to create an image. Each color in the image is printed separately on it’s own screen, affecting the cost, but up to 6 spot colors on one location can be printed. This results in prints that are vibrant, on any color garment, and is standard method for printing logos, graphics and text.</p>

        <p>Halftone Printing is printing technique that allows for lesser amounts of ink in a certain color to be used on screen printed shirts, allowing it to mix with the garment color or other screen print colors to create the illusion of more colors than are actually being printed. This results in a more muted print, with lighter tones of color. You can still print on any color of garnet but is recommended for dark prints on light color garments. This is commonly the method used for gradients or background images.</p>

        <p>Grayscale Printing is an inexpensive way to make a photography or other multi color image into apparel. A grayscale of the image is created using full and half tones of black. This results in a combination of vibrant and muted color, and quality is highly dependent upon the size and resolution of the photo.</p>

        <p>4 Color CMYK Printing is used when printing a full color image or photograph that involves many colors and many gradients or shades of colors. This process uses basic Cyan, Magenta, Yellow and Black to create the image.</p>
        <button class="button outline btn-outline">LET’S GET STARTED</button>
      </div>
      <div class="column is-6">
        <img src="/img/screen_printing_1.jpg" alt="">
        <img src="/img/screen_printing_2.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<!-- HEAT TRANSFER SECTION -->

<section class="section heattransfer-section">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-6">
        <img src="/img/heat_transfer.jpg" alt="">
      </div>
      <div class="column is-6">
        <h3>HEAT TRANSFER VINYL</h3>
        <h4>Placeholder text goes right here.</h4>
        <p>More placeholder text goes here describing heat transfer vinyl and why its great. This is placeholder text to describe briefly the process behind heat transfer vinyl. We can sum this up during our next meeting. This is placeholder text.</p>
        <p>The result is affordable custom apparel. This is a great option for small runs or complex artwork.</p>
        <button class="button outline btn-outline">LET’S GET STARTED</button>
      </div>
    </div>
  </div>
</section>


<section class="section promotional-section">
  <div class="container is-fluid">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h3>PROMOTIONAL ITEMS</h3>
        <h4>Specializing in creating the best products for your brand.</h4>
        <p>From corporate events to fundraisers or grand openings, conferences to sports tournaments, employee recognition to educational functions, we’ve got you covered!</p>
      </div>
      <div class="column is-12">
        <h3>WHOLESALE CAPABILITIES</h3>
        <h4>Placeholder text goes right here.</h4>
        <p>More placeholder text goes here describing heat transfer vinyl and why its great. This is placeholder text to describe briefly the process behind heat transfer vinyl. We can sum this up during our next meeting. This is placeholder text.</p>
      </div>
    </div>
  </div>
</section>

<section class="section has-background-light service-header">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-12">
        <h3>SPECS & SERVICE TERMS</h3>
        <h4>Explore our standard size chart, terms and other specs to make your project smooth sailing.</h4>
      </div>
    </div>
  </div>
</section>

<section class="section serviceterms-section">
  <div class="container is-fluid accordions">
    <div class="columns is-multiline">
      <!-- SIZE CHART ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Sizechart</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <img src="/img/sizechart.png" alt="">
          </div>
        </div>
      </div>
      <!-- TURNAROUND ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Turnaround</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>The turnaround time on your order with Pacific Printing starts when you’ve paid a 50% deposit and we have all information required to complete your order (all artwork, fonts, shipping info, etc.). Delay in receipt of *any* of this info could result in production delays. Our current turnaround time is 2-4 weeks + shipping. Complex orders or extras may increase turnaround. Delay in approval of mock ups could also result in production delays. The most up-to-date turnaround time will be listed on your quote.</p>

            <p>If you have a deadline for your order, it is very important that you let us know when placing your order and a rush fee may apply if there is not enough time to complete your order under normal circumstances. If you do not advise us about a due date until after your order has been paid for and pushed through our system, we may not be able to accommodate your request. Any circumstances out of Pacific Printings control (i.e.: weather delays, shipping errors by the supplier, etc.) may also require more time and are not factored into the initial turnaround time estimate.</p>
          </div>
        </div>
      </div>
      <!-- MINIMUMS ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Minimums</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>Screen Printed Items: 12 pieces (of the same design)
            <br>Embroidered Hats: 12 pieces </p>
          </div>
        </div>
      </div>
      <!-- ARTWORK ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Artwork</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>All files must be 300 DPI or vector format. The design should be sized to the size you would like it to print. Text must be converted to outlines. Printing can only be as good as the artwork. Pacific Printing will not be responsible for poor quality printing due to poor artwork. Pacific Printing is not responsible for any misspellings, errors, or issues in your art file. We do our best to catch these errors and point them out to you, but we may not catch them all. If it is in your art file and on your approval, that is how we will print it.</p>
          </div>
        </div>
      </div>
      <!-- ART APPROVAL & ORDER PROOFING ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Art Approval & Order Proofing</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>All artwork is to be approved via a digital mock-up through email. Artwork must be checked for spelling, color, sizes ordered, placement of the art and accuracy of artwork by the customer. It is very important to look over every detail of the mockup, as this is how your garments will print. Any modifications requested after customer approval will result in production delays and could require additional expenses. Any delays in the approval process longer than 24 hours after receipt of the mockup could result in production delays.</p>
          </div>
        </div>
      </div>
      <!-- OUT OF STOCK ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Out of Stock Items</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>Pacific Printing is not responsible for items that are out of stock. While we check items we know to have potential stock issues, all garments are ordered after your order is placed, and we cannot guarantee their availability. If items are out of stock, we will provide you with a list of possible replacements and get it approved by you before using your chosen item.</p>
          </div>
        </div>
      </div>
      <!-- COLLAR & SEAM PRINTING ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Collar & Seam Printing</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>Although Pacific Printing has the latest equipment available, inconsistencies may occur in registration and ink coverage when printing near or over the collar, seams, or any other edges. Any large prints may run the risk of going over the sleeve seam. These are all considered acceptable goods and will not be considered for reprints.</p>
          </div>
        </div>
      </div>
      <!-- HOODIE PRINTING ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Hoodie Printing</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>Although Pacific Printing has the latest equipment available, inconsistencies may occur in registration and ink coverage when printing over the zipper, pockets or any other uneven surfaces. Pacific Printing will not be responsible for these inconsistencies.</p>
          </div>
        </div>
      </div>
      <!-- SPECIFIC MEASUREMENTS WHEN PRINTING ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Specific Measurements When Printing</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>There is no way to effectively and efficiently measure a distance from the collar on each shirt as each garment is loaded onto the press by hand. If you request a print that is 2” down from the collar, we will use that as a guide and do our best to make sure that all shirts hit that target, but not all shirts will hit exactly at 2”, they may be off by as much as an inch in either direction. This will not be considered a misprint and Pacific Printing will not reprint or refund these shirts.</p>
          </div>
        </div>
      </div>
      <!-- PAYMENT ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Payment</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>Pacific Printing reserves the right to request 50% deposit of your order total that must be paid before the order begins (unless otherwise approved by Pacific Printing). The remaining 50% is due when your order is picked up. Unpaid orders will not be released. </p>
          </div>
        </div>
      </div>
      <!-- CHANGES TO ORDER AFTER PAYMENT ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Changes to Your Order After Payment</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>Any change made to your order that is not due to a stock issue will be subject to a change fee of $50.00 in addition to the additional costs to make the changes.  Any changes to your order after it has been placed will delay your order, even if you have paid a rush fee and/or have given us a required date. It is very important that you  do not place your order until you are certain that’s what you want. Once the process begins, everyone in our shop starts to work on different aspects of the job, changes become costly and time consuming.</p>
            <p>Example: CustomerX places an order for 100 Anvil 980 shirts in Black. Pacific Printing then orders the shirts to prepare for printing. Two days later, CustomerX wants to change the order to now print on 100 Anvil 980 White tees. Pacific Printing has to re-write the order and ship the black shirts back to the supplier (paying a 15% restocking fee + shipping costs) then pay to have them ship new shirts out.</p>
          </div>
        </div>
      </div>
      <!-- CANCELLATIONS & RESTOCKING FEES ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Cancellations & Restocking Fees</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>Cancellations made after order has been placed will be subject to a 15% restocking fee plus any additional fees required to cover services already rendered. No cancellations will be accepted once production or any manipulation of the garments (tag removal, printed tags, printing, hem tagging, etc.) has begun on the order.</p>
            <p>Example: CustomerX places an order for 99 shirts. Pacific Printing then orders the shirts to prepare for printing. Two days later, CustomerX needs to cancel the order (for any reason). Pacific Printing has to return the shirts to the manufacturer, incurring shipping fees and restocking fees. Pacific Printing refunds CustomerX for their order  minus necessary cancellation fees.</p>
          </div>
        </div>
      </div>
      <!-- MUST HAVE DATES ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Must Have Dates</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>Pacific Printing will do everything we can to meet any must-have date, but we cannot guarantee it. Rush fees may apply. Customer may be responsible for any expedited shipping charges associated with the order.</p>
          </div>
        </div>
      </div>
      <!-- SHIPPING ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Shipping</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>Pacific Printing cannot be responsible for any shipping delays caused by the shipping company.</p>
            <p>Examples: Canada Post cannot deliver your package on time due to inclement weather. | Canada Post delivers your package to the wrong address (although provided the correct address) and you do not receive your products on time.</p>
          </div>
        </div>
      </div>
      <!-- UNDER RUNS & SPOILAGE ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Under Runs & Spoilage</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>Due to the nature of this business, Pacific Printing will not be responsible for under-runs or spoilage up to 10% per design (spoilage must be more than 10 shirts per design for a reprint). Please keep this in mind when ordering (it is never a bad idea to order extras). We always do our best to get you what you ordered. We will refund you the cost of any items shorted from your order but will not process a reprint for less than 10% of your order (or 10 shirts minimum).</p>
            <p>Pacific Printing will not, at any time, be responsible for any lost profits on items shorted from your order. (IE: If you paid $7.50 per shirt to get the shirt printed, but you sell them for $25.00, Pacific Printing is only responsible for the $7.50 you would have paid us for the shirt).</p>
          </div>
        </div>
      </div>
      <!-- GARMENT DISCLAIMER ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Garment Disclaimer</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>Pacific Printing is not responsible for manufacturer defects such as color inconsistencies, stitching errors, mislabeled garments, loose/inconsistent stitching, and/or garment defects (holes in garments, ripped seams, etc.). We try our hardest to inspect the garments as we print them, but we cannot guarantee each garment. We are not the manufacturers of these garments, so we cannot ensure their construction. We highly recommend ordering 5% extra of each size if an exact count is important.</p>
          </div>
        </div>
      </div>
      <!-- SATISFACTION CLAUSE ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Satisfaction Clause</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>Pacific Printing will not be responsible for your satisfaction with the garments printed on or the printed artwork. We are always available to counsel any customer to ensure you pick a garment that matches your needs but we also need you to do your due diligence on the garment choice. If you are unsure of what garment to select, we can gladly order a number of blank samples for you to choose from. The samples will be billed at a per piece rate and shipped without printing. Blank samples will not credit to the cost of your order.</p>
          </div>
        </div>
      </div>
      <!-- QUALITY ASSURANCE ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Quality Assurance</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>We try to check every garment as it comes off of the press, but there are times where some mistakes will make it out the door. It is your responsibility as the customer to check over garments as you receive them. We allow an industry standard 72 hour window from the time you receive the goods to notify us of any issues with the order. Pacific Printing will not be responsible for errors with your order if notified after 72 hours of receiving the goods. Pacific Printing also will not be responsible for any lost income, customers, accounts, and/or contracts if defective garments are sent out to your final customer. While Pacific Printing does quality checks on the garments, the final quality assurance check lies in the hands of you, our customer.</p>
          </div>
        </div>
      </div>
      <!-- CLAIMS & REPRINTS ACCORDION -->
      <div class="column is-12 accordion">
        <div class="accordion-header toggle">
          <p>Claims & Reprints</p>
          <i class="fas fa-plus"></i>
        </div>
        <div class="accordion-body">
          <div class="accordion-content">
            <p>We go to great lengths to try to ensure that every order that leaves our facility is correct. All of our customers are valued customers, regardless of size, and we want you all to know that. Any order printed differently than the mock-up approved will be granted a reprint of the defective product. All claims must be submitted within 72 hours of date of delivery. Please email karyn@pacificprintingak.com to submit your claim. If Pacific Printing is responsible for any errors in your order, we will gladly accept responsibility for the issues and will reprint the shirts printed in error. We do not offer refunds, but will gladly reprint any production errors that exceed the spoilage rate.</p>
            <p>Example: If you order 100 shirts and you’ve sold 15 but then you discover a print defect and you return only 85 shirts to Pacific Printing, we are only responsible for the reprinting of the remaining 85 shirts).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="/vendor/bulma-accordion/dist/js/bulma-accordion.min.js"></script>
<script>
  var accordions = bulmaAccordion.attach();
</script>
