@mixin heroimg($imgpath, $position: center, $size: cover) {
  background: {
    image: url($imgpath);
    position: $position;
    size: $size;
  }
}


// COLOR MIXINS

$greencolor: #516700;
$lightgreencolor: #96af3c;
$paragraphcolor: #6a6a6a;
$printcolor: #1a8ec1;
$bluecolor: #035b82;
$lightbluecolor: #2585af;



$neongreen: #b3d148;



// FONT MIXINS

$mainfont: "upgrade-lights";
$secondfont: "rift";
$thirdfont: "upgrade";
