// GLOBAL FONT STYLING


h1 {
  font-size: 6.313rem;
  font-family: $secondfont;
  font-weight: 700;
  @include desktop-only {
    font-size: 4.15rem;
  }
  @include tablet-only {
    font-size: 4.3rem;
  }
}


h2 {
  font-size: 3rem;
  font-weight: 500;
  font-family: $mainfont;
  @include tablet-only {
    font-size: 2.7rem;
  }
}

h3 {
  font-family: $secondfont;
  font-size: 4.625rem;
  font-weight: 700;
  @include desktop-only {
    font-size: 3.325rem;
  }
}

h4 {
  font-size: 2.25rem;
  font-weight: 500;
  font-family: $mainfont;
  @include desktop-only {
    font-size: 2rem;
  }
}

p {
  font-family: $thirdfont;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.5rem;
}








// HERO HEADER TEXT STYLING

.hero-text {
  position: absolute;
  top: 37vh;
  @include desktop-only {
    h1 {
      padding-top: .75rem;
    }
  }
  @include tablet-only {
    position: relative;
    top: 40vh;
  }
}


.index-text {
  position: absolute;
  top: 65vh;
  @include tablet-only {
    position: relative;
  }
}



// INDEX HERO TYPOGRAPHY

.index-title {
  font-size: 4rem;
  font-weight: 700;
  color: white;
}



// INDEX WELCOME SECTION TYPOGRAPHY

.index-welcome {

  h1, h2 {
    color: #045b82;
    text-align: center;
  }

  h1 {
    font-size: 4.625rem;
    font-weight: 700;
  }

  h2 {
    font-size: 2.25rem;
    font-weight: 300;
  }
}



// SERVICES PAGE TYPOGRAPHY

.services-embroidery, .services-screenprinting, .heattransfer-section, .promotional-section, .serviceterms-section {

  h3 {
    color: $greencolor;
    margin-top: -25px;
  }
  h4 {
    color: $lightgreencolor;
    margin-top: -15px;
    padding-right: 100px;
    @include desktop-only {
      padding-right: 0;
      font-size: 1.9rem;
    }
  }
}


.services-embroidery, .heattransfer-section, .promotional-section {
  p {
    margin-top: 10px;
    margin-bottom: 50px;
    padding-right: 100px;
    @include desktop-only {
      padding-right: 15px;
      font-size: 1.20rem;
      line-height: 1.6;
    }
  }
}

.services-screenprinting {

  .first-paragraph {
    margin-top: 10px;
  }

  p {
    margin-top: 30px;
    padding-right: 100px;
    @include desktop-only {
      padding-right: 15px;
      font-size: 1.20rem;
      line-height: 1.6;
    }
  }

  .last-paragraph {
    margin-bottom: 50px;
  }

}
