














// INDEX HERO TYPOGRAPHY

.index-title {
  font-size: 4rem;
  font-weight: 700;
  color: white;
}



// INDEX WELCOME SECTION TYPOGRAPHY

.index-welcome {

  h1, h2 {
    color: #045b82;
    text-align: center;
  }

  h1 {
    font-size: 4.625rem;
    font-weight: 700;
  }

  h2 {
    font-size: 2.25rem;
    font-weight: 300;
  }
}
