



// WECLOME SECTION

.index-welcome {
  height: 17.25rem;
  margin-top: 10rem;
}


// CAROUSEL SECTION

.carousel {
  .container {
    margin: 0;
  }
}



// TESTIMONIALS SECTION

.testimonial-section {
  .container {
    margin: 0;
  }
}



.mailer-section {
  height: 23.125rem;
}
