.services-embroidery {
  margin-top: 100px;
  @include desktop-only {
    .is-fluid {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

.services-screenprinting, .heattransfer-section, .promotional-section, .service-header {
  @include desktop-only {
    .is-fluid {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}


.services-screenprinting {
  @include tablet-only {
    &--description {
      order: 2;
    }
    &--images {
      order: 1;
    }
  }
}


.service-header {
 height: 22rem;
  h3 {
    color: $greencolor;
  }
  h4 {
    color: $lightgreencolor;
    @include desktop-only {
      font-size: 1.9rem;
    }
  }
}

.serviceterms-section {
  .accordions {
    .accordion {
      background-color: white;
      margin-top: 30px;
      .accordion-header {
        background-color: $neongreen;
      }
    }
  }
  p {
    font-weight: 500;
  }
}
