.index-hero {
  @include heroimg('../img/main_hero.png');
  height: 730px;
  margin-top: 3.313rem;
  margin-top: -157px;
}


.dan-hero {
  @include heroimg('../img/dan_second_hero.jpg');
  height: 1258px;
  margin-top: 10px;
}



.services-hero {
  @include heroimg('../img/services_hero.jpg');
  margin-top: -157px;
}


.print-hero {
  @include heroimg('../img/print_hero.jpg');
  margin-top: -157px;
  .is-12 {
    width: 102%;
  }
}


.contact-hero {
  @include heroimg('../img/contact-hero.jpg');
  margin-top: -157.5px;
}


.matt-hero {
  @include heroimg('../img/matt_hero.jpg');
  margin-top: -157px;
}
