.index-hero {
  @include heroimg('../img/main_hero.png');
  height: 150vh;
  background-size: auto;
  margin-top: 3.313rem;
  margin-top: -600px;
}


.dan-hero {
  @include heroimg('../img/dan_second_hero.jpg');
  height: 1258px;
  margin-top: 10px;
}



.services-hero {
  @include heroimg('../img/services_hero.jpg');
  margin-top: -172px;
  @include tablet-only {
    margin-top: -53px;
  }
  @include mobile {
    margin-top: -52.5px;
  }
}


.print-hero {
  @include heroimg('../img/print_hero.jpg');
  margin-top: -172px;
  .is-12 {
    width: 102%;
    @include tablet-only {
      width: 100%;
    }
  }
  .column {
    @include desktop-only {
      padding: 0;
    }
  }
}



.matt-hero {
  @include heroimg('../img/matt_hero.jpg');
  margin-top: -172px;

  h2 {
    @include desktop-only {
      font-size: 2.8rem;
    }
  }
}

.video-hero {
  margin-top: -172px;
}
